* {
	border: 1px solid red;
}
body {
	background-color: aqua;
}
h1 {
	font-family: 'Fuzzy Bubbles', cursive;
	text-align: center;
	font-size: 300%;
	height: 2em;
	padding-top: 0.7em;
	/* background-color: red; */
}
.game-alerts {
	margin: 0 auto;
	text-align: center;
	font-size: 2.5em;
	font-family: 'Fuzzy Bubbles', cursive;
	/* visibility: hidden; */
}
p.game-alerts {
	font-size: 2em;
}
.flexbox-container {
	/* background-color: red; */
	height: 30em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 65em;
	margin: 0 auto;
}
.flexbox-item {
	width: 20%;
	height: 55%;
	border-radius: 1em;
}
#flexbox-item1 {
	background-color: crimson;
}
#flexbox-item2 {
	background-color: cornflowerblue;
}
#flexbox-item3 {
	background-color: green;
	filter: brightness(100%);
}
#flexbox-item4 {
	background-color: gold;
}
.compare-div {
	text-align: center;
	margin: 2em;
}

.start-reset-div {
	text-align: center;
	margin-top: 3em;
}
.btns {
	font-size: 1.7em;
	border-radius: 0.25em;
	font-family: 'Fuzzy Bubbles', cursive;
	background: none;
}
.about {
	padding: 0.4em;
	margin-top: 4em;
	text-decoration: underline;
	display: inline-block;
}
#about-game {
	font-family: 'Fuzzy Bubbles', cursive;
	background: none;
}
#modal {
	background-color: rgba(209, 224, 227, 0.858);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
	height: 66%;
	width: 75%;
	z-index: 1;
	overflow: auto;
	border-radius: 1em;
	display: none;
}
#modal-textbox {
	margin: 0 auto;
	padding: 0 2em;
}
#modal-footer {
	text-align: right;
	margin-top: 2em;
}
.about-h2 {
	text-align: center;
}
